---
// imports
import Layout from "../layouts/Layout.astro";
---

<Layout title="Create Your Profile Picture">
    <section
        class="flex gap-2 justify-center items-center z-40 p-auto h-screen w-screen fixed left-0 top-0"
    >
        <h1
            class="text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-[#5489ee] via-[#2874f5] to-[#1759c1] hover:via-[#5489ee]"
        >
            404!
        </h1>
    </section>
</Layout>
